* { 
    margin: 0;
    padding: 0;
  
 }  


html {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;


}

body {
    min-height: 100vh;
    background-image: url('pexels-michael-steinberg-95604-321452(1).jpg');
    background-size:auto;
    background-position: center;
    overflow: hidden;   
}   

.wrapper {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 25px 25px 0    ;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}   

h1  {
    font-size: 3rem;
    font-weight: 900    ; 
    text-transform: uppercase;
}
 
form {
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
    display: flex;
    justify-content: center;

}

form label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: #ebd809;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;   
}

form input {

    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid #ebd80926;
    
    background-color: #ebd80926;
    outline: none;
    transition: 150ms ease;
}

form input:hover{
    border: 6px solid #ebd809;
}

form input:focus {
   outline:none ;
   border-color: #ebd809;
}

div:has(input:focus) > label{
    background-color: 2px solid #ebd809;
}

form input::placeholder {
    color: #ebd809;
    opacity: 0.7;
}   

form button {
    margin-top: 10px;
    border: none;
    border-radius: 0.85em;
    padding: 0.85em 4em;
    background-color: #ebd80926;
    color: #333;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

}

form button:hover {
    background-color:#ebd809; 
}

form button:focus {
    outline: none;
    background-color:#ebd809;
}

@media (max-width: 1100px) {
    .wrapper {
        width: min(600px, 100%);
        border-radius: 0;
    }
}

.incorrect label{
    border-color:#f06272;
}

.incorrect input {
    border-color:  #f06272;
}